<header
  class="h-16 w-screen container flex items-center justify-between text-white absolute top-2 left-1/2 -translate-x-1/2">
  <span class="font-bold text-xl">ValinorKanban</span>
  <div class="md:hidden">

    <icon-menu height="32" height="32" />
  </div>
  <nav class="hidden md:block">
    <ul class="flex items-center gap-x-4">
      <li>Docs</li>
      <li>
        <app-button>
          SIGN IN
        </app-button>
      </li>
      <li>
        <app-button>
          GET STARTED
        </app-button>
      </li>
    </ul>
  </nav>
</header>
