<section class="relative h-screen pt-40 text-white text-center overflow-hidden">
  <video autoplay  class="absolute top-0 left-0 w-full h-full object-cover z-[-1]" preload="auto" >
    <source src="bg-video.mp4" type="video/mp4" />
  </video>
  <div class="container flex flex-col items-center  h-full">
    <h1 class="font-semibold  text-5xl mb-4">INCREASE YOUR PRODUCTIVITY</h1>
    <p class="text-xl text-white/70 max-w-3xl mx-auto ">Organize tarefas, priorize o que realmente importa e aumente a
      eficiência do seu
      time. Trabalhe em conjunto de
      forma mais inteligente, sem perder o foco. Experimente agora e veja a produtividade decolar!</p>
    <div class="mt-10">
      <app-button class="flex items-center gap-4 mx-auto">
        <span>Increase productivity</span>
        <icon-rocket height="28" width="28" />
      </app-button>

    </div>
    <img src=" hero-no-bg.png" class="object-cover w-full min-w-[600px] " />
  </div>
</section>
