<div class="bg-card-background rounded-lg p-4 space-y-4">

  <!-- TITLE/DESCRIPTION -->
  <div>
    <h2 class="flex items-center">
      <div class="size-3 rounded-full bg-orange-500 mr-2"></div>Create documentation
    </h2>
    <p class="text-sm mt-4 text-secondary-foreground">Lorem ipsum dolor sit amet consectetur. Enim etiam commodo est at
      tincidunt mattis id nullam.</p>
  </div>

  <div class="w-full h-px rounded-full bg-border"></div>

  <!-- PERSONS -->
  <div class="flex items-center justify-between">
    <div class="flex items-center text-sm">
      <div class="size-8 bg-amber-500 rounded-full outline-1 outline-card-background grid place-items-center">D</div>
      <div class="size-8 bg-green-500 rounded-full relative -left-3 outline-1 outline-card-background grid place-items-center">R</div>
      <div
        class="size-8 bg-purple-600 rounded-full relative -left-6 grid place-items-center outline-1 outline-card-background">
        +1</div>
    </div>

    <!-- NOTIFICATIONS -->
    <div class="flex items-center gap-4">
      <button class="rounded-sm py-px px-1 border flex items-center gap-2">
        <icon-chat-text height="20" width="20" />
        <span>1</span>
      </button>
      <button class="rounded-sm py-px px-1 border flex items-center gap-2">
        <icon-file-text height="20" width="20" />
        <span>1</span>
      </button>
    </div>
  </div>
</div>
