@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-background: oklch(98% 0.01 260); /* Fundo claro e suave */
  --color-background-dark: oklch(
    20% 0.01 260
  ); /* Fundo escuro para contraste */

  --color-foreground: oklch(25% 0.01 260); /* Texto principal */
  --color-foreground-light: oklch(
    99% 0.01 260
  ); /* Texto claro para fundos escuros */

  --color-border: oklch(90% 0.01 260); /* Bordas claras */
  --color-border-dark: oklch(30% 0.01 260); /* Bordas escuras */

  --color-primary: oklch(65% 0.2 245); /* Azul moderno e vibrante */
  --color-primary-hover: oklch(55% 0.2 245); /* Hover mais escuro */
  --color-secondary: oklch(75% 0.15 140); /* Verde complementar */

  --color-warning: oklch(85% 0.18 80); /* Amarelo suave para alertas */
  --color-highlight: oklch(75% 0.1 310); /* Roxo vibrante para destaques */

  --color-card-background: oklch(99% 0 0); /* Fundo de cartão claro */
  --color-column-background: oklch(92% 0.01 264); /* Fundo de coluna suave */

  --color-header-background: oklch(
    75% 0.12 245
  ); /* Cabeçalho com tom primário */

  --spacing-board-column: 300px;
  --spacing-header: 64px;
  --spacing-between-columns: 0.5rem;

  --radius-card: 0.5rem;
  --radius-column: 0.75rem;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: var(--color-border);
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    font-family: "Inter", sans-serif;
    color: var(--color-foreground);
  }

  a {
    text-decoration: none;
  }
}

.cdk-drag-preview {
  opacity: 1;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.5)
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.05)
  );
}

.drag-card-placeholder {
  background: var(--color-card-background);
  opacity: 0.35;
  border-radius: var(--radius-card);
  height: 100%;
  min-height: 157px;
  margin-bottom: 8px;
  width: 100%;
  border: 1px solid var(--color-border);
}

.drag-column-placeholder {
  height: 100%;
  min-width: var(--spacing-board-column);
  background: linear-gradient(
    to bottom right,
    var(--color-column-background),
    var(--color-background)
  );
  opacity: 0.5;
  border-radius: var(--radius-column);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: oklch(76.68% 0 0 / 50%) var(--color-card-background);
}
