<div
  class="flex max-h-full w-board-column cursor-pointer flex-col rounded-column bg-column-surface px-2"
>
  <header class="flex items-center justify-between px-4 py-2.5">
    <h1 class="text-sm font-semibold">{{ title }}</h1>
    <button class="rounded-sm p-px">
      <icon-dots-three color="var(--color-primary-foreground)" />
    </button>
  </header>

  <div
    class="overflow-y-auto"
    style="
      scrollbar-width: thin;
      scrollbar-color: oklch(76.68% 0 0/50%) var(--color-card-background);
    "
  >
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      class="mr-2 flex flex-col gap-y-2"
    >
      @for (task of data; track task.id; let i = $index) {
        <div class="h-fit" cdkDrag>
          <div class="drag-card-placeholder" *cdkDragPlaceholder></div>
          <app-card-task
            [id]="task.id"
            [title]="task.title"
            [description]="task.description"
          ></app-card-task>
        </div>
      }
    </div>
  </div>

  <footer class="py-2">
    <app-button class="w-full" variant="ghost" size="sm">
      <icon-plus />
      <span>Add New Task</span>
    </app-button>
  </footer>
</div>
