<div
  class="flex max-h-full w-board-column cursor-pointer flex-col rounded-column bg-column-background px-2"
>
  <header class="flex items-center justify-between px-4 py-2.5">
    <h1 class="text-sm font-semibold break-words">{{ columnData.title }}</h1>
    <button class="rounded-sm p-px">
      <icon-dots-three color="var(--color-foreground)" />
    </button>
  </header>

  <div class="flex flex-col gap-y-2 pr-2">
    @for (task of columnData.tasks; track task.id) {
      <div cdkDrag>
        <div class="drag-card-placeholder" *cdkDragPlaceholder></div>
        <app-card-task [taskData]="task"></app-card-task>
      </div>
    }

    @if (showInput()) {
      <div #newTaskContainer>
        <input-component
          variant="large"
          placeholder="Insira um título"
        ></input-component>
        <!-- [(ngModel)]="newTaskTitle" -->
        <div class="flex w-2/3 gap-x-2">
          <button-component
            class="w-full"
            (onClick)="addNewTaskToColumn({ columnId: columnData.id })"
            >Add Card</button-component
          >
          <button-component
            size="icon"
            variant="ghost"
            (onClick)="disableInput()"
          >
            <span>X</span>
          </button-component>
        </div>
      </div>
    }
  </div>

  <footer class="py-2">
    @if (!showInput()) {
      <button-component
        (onClick)="enableInput()"
        class="w-full"
        variant="ghost"
        size="sm"
      >
        <icon-plus />
        <span>Add New Card</span>
      </button-component>
    }
  </footer>
</div>
