<div
  class="flex max-h-full w-board-column cursor-pointer flex-col rounded-column bg-column-surface px-2"
>
  <header class="flex items-center justify-between px-4 py-2.5">
    <h1 class="text-sm font-semibold break-words">{{ columnData.title }}</h1>
    <button class="rounded-sm p-px">
      <icon-dots-three color="var(--color-primary-foreground)" />
    </button>
  </header>

  <div cdkDropListGroup class="custom-scrollbar overflow-y-auto">
    <div
      cdkDropList
      [cdkDropListData]="columnData.tasks"
      (cdkDropListDropped)="drop($event)"
      class="flex flex-col gap-y-2 pr-2"
    >
      @for (task of columnData.tasks; track task.id) {
        <div cdkDrag>
          <div class="drag-card-placeholder" *cdkDragPlaceholder></div>
          <app-card-task [taskData]="task"></app-card-task>
        </div>
      }
      @if (showInput()) {
        <div #newTaskContainer>
          <input
            #newTaskInput
            [(ngModel)]="newTaskTitle"
            class="mb-2 h-16 w-full rounded-lg bg-card-background px-2 pt-2 pb-8 text-start text-sm font-extralight placeholder:text-primary-foreground/80 focus:border focus:border-primary focus:outline-none"
            type="text"
            placeholder="Insira um título"
          />
          <div class="flex w-2/3 gap-x-2">
            <app-button
              class="w-full"
              (onClick)="addNewTask({ columnTitle: columnData.title })"
              >Add Card</app-button
            >
            <app-button
              size="icon"
              variant="ghost"
              (onClick)="showInput.set(false)"
            >
              <span>X</span>
            </app-button>
          </div>
        </div>
      }
    </div>
  </div>

  <footer class="py-2">
    @if (!showInput()) {
      <app-button
        (onClick)="enableInput()"
        class="w-full"
        variant="ghost"
        size="sm"
      >
        <icon-plus />
        <span>Add New Card</span>
      </app-button>
    }
  </footer>
</div>
